mat-card {
    width: 300px;
    margin: 25px auto;
}

mat-card-actions {
    margin: auto;
}

.btn-login {
    width: 200px;
    padding: 5px;
}

.btn-register {
    width: 200px;
    // margin-top: 10px;
    padding: 10px;
}
