<form #f="ngForm">
    <mat-horizontal-stepper linear>
        <mat-step>
            <div fxLayout="row"
                 fxLayoutAlign="center center"
                 fxLayoutGap="50px">
                <div fxLayout="column">
                    <mat-form-field>
                        <mat-label>Wybierz lekarza</mat-label>
                        <mat-select [(value)]="selectedDoctor"
                                    ngModel
                                    name="doctor">
                            <mat-option *ngFor="let doctor of doctors | async"
                                        [value]="doctor.uuid">{{ doctor.firstName }} {{ doctor.lastName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput
                               [matDatepicker]="picker"
                               [min]="minDate"
                               placeholder="Data wizyty"
                               ngModel
                               name="appointmentDate"
                               required>
                        <mat-datepicker-toggle matSuffix
                                               [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi.xs="true"
                                        #picker
                                        [startAt]=startDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <button mat-raised-button
                        matStepperNext
                        type="button"
                        color="primary"
                        class="btn-submit">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>

        </mat-step>
        <mat-step>

            <div fxLayout="row"
                 fxLayoutAlign="center center"
                 fxLayoutGap="50px">
                <button mat-raised-button
                        matStepperPrevious
                        type="button"
                        class="btn-submit">
                    <mat-icon>arrow_back_ios</mat-icon>
                </button>

                <div fxLayout="column">
                    <mat-form-field>
                        <input type="time"
                               matInput
                               ngModel
                               #start
                               placeholder="Godzina startu"
                               name="startTime"
                               required>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text"
                               matInput
                               ngModel
                               placeholder="Długość wizyty [minuty]"
                               name="appointmentLength"
                               required>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text"
                               matInput
                               ngModel
                               placeholder="Ilość wizyt"
                               name="numberOfAppointments"
                               required>
                    </mat-form-field>
                </div>

                <button mat-raised-button
                        matStepperNext
                        type="button"
                        class="btn-submit"
                        color="primary">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>
        </mat-step>
        <mat-step>

            <div fxLayout="row"
                 fxLayoutAlign="center center"
                 fxLayoutGap="40px">
                <button mat-raised-button
                        matStepperPrevious
                        type="button"
                        class="btn-submit">
                    <mat-icon>arrow_back_ios</mat-icon>
                </button>
                <div fxLayout="column"
                     fxLayoutAlign="center center">
                    <section class="mat-typography">
                        Lekarz: <b>Jan Kowalski</b><br>
                        Data: <b>13.08.2019</b><br>
                        Godzina startu dyżuru: <b>09:00</b><br>
                        Godzina zakończenia dyżuru: <b>13:00</b><br>
                        Ilość wizyt: <b>10</b><br>
                    </section>
                </div>

                <button mat-raised-button
                        matStepperNext
                        type="submit"
                        class="btn-submit"
                        color="primary"
                        (click)="onSubmit(f)"> Dodaj <mat-icon>done</mat-icon>
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</form>
