<div class="welcome"
     fxLayout="column"
     fxLayoutAlign="center center"
     fxLayoutGap="10px">
    <h1>Welcome to MCC Reservation System</h1>
    <p>We are a hospital appointment reservation system.<br>
        Please contact us if you want to use this application. </p>

    <a mat-button
       routerLink="patient/index">Patient Index</a>
    <a mat-button
       routerLink="management/index">Management Index</a>
    <a mat-button
       routerLink="doctor/index">Doctor Index</a>
    <a mat-button
       routerLink="about">About</a>
</div>
