mat-card {
    width: 300px;
    margin: auto;

}

mat-card-subtitle {
    margin: 0px;
}

.example-margin {
    margin: 0 10px;
}

.signup-button {
    margin: 5px;
}

.btn-submit {
    width: 150px;
}
