<mat-nav-list fxLayout="column">
    <a mat-list-item
       routerLink="/auth/signup"
       (click)="onClose()"
       *ngIf="!isAuth">
        <mat-icon>face</mat-icon><span>Zarejestruj się</span>
    </a>
    <a mat-list-item
       routerLink="/auth/login"
       (click)="onClose()"
       *ngIf="!isAuth">
        <mat-icon>input</mat-icon><span>Logowanie</span>
    </a>
    <a mat-list-item
       (click)="onLogout()"
       *ngIf="isAuth">
        <mat-icon>power_settings_new</mat-icon><span>Wyloguj</span>
    </a>
</mat-nav-list>
